
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
AUTHOR : Vijayan PP
PROJECT :Nim
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.themecolor
{
    color:#f8198d;/*Defines the theme color*/
}

.theme_background_color,#downloadbt:hover
{
    background-color:#f8198d; /*Defines the theme bakcground color*/
}

.borderColor
{
    border-color:#000;/*Defines the color of the border*/
}
.nim-menu.navbar-default .navbar-nav > li > a:hover
 {
color:#f8198d;
}
.social li a:hover
{
    color:#f8198d;
}
.sub-footer
{
    border-top-color:#f8198d;
}

.work-desc
{
    background:#800000;
}
.work-desc h3
{
    color:#fff;
}


.black
{
    color:#000;
}

.white
{
    color:#fff;
}
.black-background
{
    background-color:#000;
}

.white-background
{
    background-color:#fff;
}

.grey
{
    color:#676565;
}
.grey_background_color
{
    background-color:#676565;
}

.sectionTitle hr
{
  border-color:#f8198d; 
}

.sectionTitle .line{
    border-color:#fff;
}

.sectionTitle .line hr
{
    border-color:#dbdbdb;
}

ol.type li a:hover{ color:#f8198d;}

.ramsh-menu.navbar-default .navbar-nav > li > a:hover,a.fa.fa-angle-down:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus
{
    color:#f8198d;
}

.navbar-toggle
{
 
 color:#f8198d;
}

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span,#contactbtn:hover {
	
	background:#f8198d;
}
.owl-theme .owl-controls .owl-page.active span{
	background:#f8198d;
}